annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.13.0
argcomplete==3.6.3
asgiref==3.12.1
attrs==26.1.0
black==26.5.1
blivet @ file:///builddir/build/BUILD/python-blivet-3.14.2-build/blivet-3.14.2
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-367-build/cockpit-367/tmp/wheel/cockpit-367-py3-none-any.whl#sha256=2cf3b2a68ba6c00ac51b231ff213026b3ab544d59aed2ac63d14777b82cbb1f4
crypt_r==3.13.1
cryptography==50.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distlib==0.4.3
distro==1.9.0
dj-rest-auth==7.2.0
Django==6.1
django-allauth==65.19.1
django-filter==26.2
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
dnf==4.24.0
drf-spectacular==0.30.0
fastapi==0.141.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.32.4
flake8==7.3.0
gunicorn==26.2.0
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.18
inflection==0.5.1
iso639==0.1.4
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
langtable==0.0.71
libcomps==0.1.24
libdnf==0.76.0
libdnf5==5.4.6.0
louis==3.33.0
mccabe==0.7.0
mypy_extensions==1.1.0
nftables==0.1
oauthlib==3.3.1
olefile==0.47
packaging==25.0
pathspec==1.1.1
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
pipenv==2026.8.0
platformdirs==4.11.2
productmd==1.50
psutil==7.2.2
psycopg==3.3.4
psycopg-binary==3.3.4
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycodestyle==2.14.0
pycparser==2.22
pycups==2.0.4
pydantic==2.13.5
pydantic_core==2.46.5
pyenchant==3.3.0
pyflakes==3.4.0
PyGObject==3.56.3
pyinotify==0.9.6
PyJWT==2.13.0
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-discovery==1.5.3
python-dotenv==1.2.3
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
pytokens==0.4.1
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
RapidFuzz==3.14.3
referencing==0.37.0
regex==2026.7.19
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rpds-py==2026.6.3
rpm==6.0.2
selinux @ file:///builddir/build/BUILD/libselinux-3.11-build/libselinux-3.11/src/dist/selinux-3.11-cp314-cp314-linux_x86_64.whl#sha256=3a0cf8b0db338328b37b7ea642291730a857b9747755d8c8cd884d8c6875845c
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.11-build/selinux-3.11/python/sepolicy/dist/sepolicy-3.11-py3-none-any.whl#sha256=4215ac0439a505cdb35970cf16a590b4592d8a21f2bc6612e7a216c4490da2a3
setools==4.6.0
setuptools==84.0.0
simpleline==1.9.0
six==1.17.0
sos==4.12.0
sqlparse==0.5.5
starlette==1.6.0
systemd-python==235
typing-inspection==0.4.4
typing_extensions==4.16.0
uritemplate==4.2.0
urllib3==2.8.0
uv==0.12.5
uvicorn==0.53.0
uvloop==0.22.1
virtualenv==21.7.5
watchfiles==1.2.0
websockets==17.1
xkbregistry==0.3
